html, body {
	height: 100%;
}

html {
	background-color: #b9fbff;
	font-family: "Open Sans", sans-serif;
	font-size: 100%;
	color: #28262c;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 2.3em;
	margin: 0;
	font-family: "Raleway";
}

a {
	color: #28262c;
}

.content {
	background-color: #b9fbff;
	color: #002222;
	font-weight: 500;
	line-height: 1.6;
	margin: 2em auto;
	width: 100%;
	max-width: min(80%, 900px);
	flex: 1 0 auto;
}

.content p code, .content li code {
	font-size: 1.2em;
	background-color: rgba(210, 210, 210, 0.8);
	border-radius: 5px;
	padding: 0em 0.3em;
}

.colored-strip {
	background-color: #ffde5c;
	width: 100%;
	height: 10px;
}

#breadcrumbs {
	font-family: "Raleway";
	font-size: 1.3em;
	font-style: italic;
	margin-bottom: 1.5em;
}
