---
const { videoUrl, videoWidth, videoHeight, sizeScale, videoTitle, videoCaption } = Astro.props;

---

<style define:vars={{videoWidth, videoHeight, sizeScale}}>
    iframe {
        margin: auto;
        display: block;
        width: var(--sizeScale);
        aspect-ratio: calc(var(--videoWidth) / var(--videoHeight));
    }
    p {
        text-align: center;
    }

</style>

<div>
    <iframe 
        
        src={videoUrl} 
        title={videoTitle} 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen
    ></iframe>
    <p><i>{videoCaption}</i></p>
</div>