---
import '../../styles/global.css';
---

<style>
    .container {
        background-color: #FFFF;
        border-radius: 0 0 20px 20px;
        box-shadow: 2px 3px 5px #00000052;
    }
    .container-contents {
        padding: 1.2em;
    }
</style>

<div class="container">
    <div class="colored-strip"></div>
    <div class="container-contents">
        <slot />
    </div>
</div>
