---
import StyledContainer from "../components/reusable/StyledContainer.astro";
---

<style>
	.profile-pic {
		display: grid;
		justify-items: center;
		gap: 1.5em;
	}
	.profile-pic img {
		border-style: solid;
		border-radius: 50%;
		border-width: 12px;
		border-color: #ffff;
		object-fit: cover;
		box-shadow: 2px 3px 5px #00000052;
	}
	.job-title {
		display:none;
	}
	.contact {
		display: flex;
		font-size: 2em;
		gap: 0.75em;
		padding: 0.0em 0.5em;
	}

	@media screen and (max-width: 375px) {
		.job-title {
			display:block;
			max-width: 200px;
			text-align: center;
		}
		.contact-container {
			display: none;
		}
	}

</style>

<div class="profile-pic">
	<img
		src="/xalph_profile_picture.png"
		alt="Sean Lee who is representing himself with an illustration"
		width="200px"
		height="200px"
	/>
	<div class="job-title">
		<span>
			Software Engineer /
		</span>
		<br>
		<span>
			Game Developer
		</span>
	</div>
	<div class="contact-container">
		<StyledContainer>
			<div class="contact">
				<a href="mailto:sean.winglim@gmail.com"><i class="fa-solid fa-envelope"><span class="sr-only">Email</span></i></a>
				<a href="https://au.linkedin.com/in/sean-wl-lee"><i class="fa-brands fa-linkedin"><span class="sr-only">LinkedIn</span></i></a>
				<a href="https://x.com/xalph555"><i class="fa-brands fa-square-x-twitter"><span class="sr-only">X</span></i></a>
			</div>
		</StyledContainer>
	</div>
</div>
