---

---

<style>
	.profile-pic {
		display: grid;
		justify-items: center;
	}
	.profile-pic img {
		border-style: solid;
		border-radius: 50%;
		border-width: 12px;
		border-color: #ffff;
		object-fit: cover;
		box-shadow: 6px 8px 0 #86afcb;
	}
	.profile-pic div {
		margin-top: 1em;
		max-width: 200px;
		text-align: center;
	}
</style>

<div class="profile-pic">
	<img
		src="../xalph_profile_picture.png"
		alt="Profile picture"
		width="200px"
		height="200px"
	/>
	<div>Gameplay Programer Student</div>
</div>
