---

---

<style>
	.footer-nav-container {
		display: flex;
	}

	.footer-nav-title {
		margin-right: 0.5em;
	}

	.footer-nav-links a {
		margin: 0 0.5em;
	}
	.footer-nav-links a:hover,
	.footer-nav-links a:focus {
		filter: brightness(300%);
	}

	@media screen and (max-width: 575px) {
		.footer-nav-container {
			text-align: center;
		}
	}
</style>

<div class="footer-nav-container">
	<div class="footer-nav-title"><b>Contact Me:</b></div>
	<div class="footer-nav-links">
		<a href="https://au.linkedin.com/in/sean-wl-lee">LinkedIn</a>
		<a href="https://x.com/xalph555">X (Twitter)</a>
		<a href="https://github.com/Xalph555">GitHub</a>
		<a href="https://xalph555.itch.io/">itch.io</a>
	</div>
</div>
