---
---
<style>
    .footer-nav-container{
        display: flex;
    }

    .footer-nav-title {
        margin-right: 1em;
    }

    .footer-nav-links a {
        margin: 0 0.5em;

    }
    .footer-nav-links a:hover, 
    .footer-nav-links a:focus {
        filter: brightness(300%)
    }
</style>

<div class="footer-nav-container">
    <div class="footer-nav-title"><b>Contact Me:</b> </div>
    <div class="footer-nav-links">
        <a href="/">LinkedIn</a>
        <a href="/">Twitter</a>
        <a href="/">GitHub</a>
        <a href="/">itch.io</a>
    </div>
</div>
