---
import Navigation from "./Navigation.astro";
---

<style>
	header {
		background-color: #ffff;
		padding: 1em;
		font-family: "Raleway";
		margin: 0;
		padding: 0;
		box-shadow: 0 2px 2px #00000052;
	}

	.header-content {
		margin: 0 auto;
		width: 100%;
		max-width: min(80%, 1000px);
		display: flex;
		align-items: flex-end;
	}

	.title-and-name {
		margin-right: auto;
		padding-top: 1em;
		margin-bottom: 1em;
	}

	h1 {
		font-size: 3em;
		margin-bottom: 0.1em;
	}

	.title-and-name span {
		font-size: 1.25em;
	}
	
  @media screen and (max-width: 840px) {
    .header-content {
      display: block;
      text-align: center;
      max-width: 100%;
      padding-top: 0.5em;
    }

    .title-and-name {
      padding-top: 0.2em;
      margin-bottom: 0em;
    }
  }
  @media screen and (max-width: 415px) {
    .title-and-name {
      display: none;
    }
  }
</style>

<header>
	<div class="header-content">
		<div class="title-and-name">
			<h1>Sean Lee</h1>
			<span>Software Engineer/ Game Developer</span>
			<!-- Software Engineer/ Game Developer -->
		</div>
		<nav>
			<Navigation />
		</nav>
	</div>
	<div class="colored-strip"></div>
</header>
