---

---

<style>
	div {
		padding: 0.8em 0;
		margin-bottom: 1.5em;
	}

	a {
		padding: 0 1.1em;
		text-decoration: none;
		display: inline-block;
		font-size: 1.4em;
	}

	a:hover,
	a:focus {
		text-decoration: underline;
		filter: brightness(300%);
	}

  @media screen and (max-width: 840px) {
	div {
		margin-bottom: 0.5em;
	}
  }
  @media screen and (max-width: 415px) {
    div {
		margin-bottom: 0.5em;
	}
	a {
    	padding: 0 0.5em;
	}
  }
</style>

<div>
	<a href="/">Home</a>
	<a href="/#projects">Projects</a>
	<a href="/contact">Contact</a>
</div>
